{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine":"auto",
  "react/jsx-indent": "off",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts"],
      "options": {
          "parser": "babel"
      }
    }
  ]
}
